<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>머스테치 헬로우 페이지</title>
</head>
<body>
<h1>머스테치 헬로우 페이지</h1>
{{message}}
<!--머스테치는 중괄호 2개 겹처서 사용-->
</body>
</html>